* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  overflow-x: hidden;
  background-color: #FAF7F0;
}

p {
  display: flex;
  align-items: center;
}

p img {
  margin-right: 5px;
}

div {
  outline: none;
  user-select: none;
}

h1{
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

h2{
  font-size: 2rem;
  color: #B17457;
  margin: 10px 0;
}