.members-container {
    display: grid;
    margin-left: 0;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    gap: 20px;
    padding: 20px;
    background-color: #FAF7F0;
  }
  
  select.select{
    background-color: #D8D2C2; 
    padding:0;
    border: 1px solid #B17457; 
    margin-left: 2px;
  }
  
  @media (min-width: 800px) {
    .members-container {
      margin-left: 0;
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (min-width: 600px) and (max-width: 799px) {
    .members-container {
      grid-template-columns: 1fr;
    }
  }
  
  @media (max-width: 599px) {
    .members-container {
      margin-left: 0;
      grid-template-columns: 1fr;
    }
  }
  
  .member-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 350px;
    height: 150px;
    border: 3px solid #B17457; 
    border-radius: 15px;
    padding: 10px;
    background-color: #D8D2C2; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4); 
    color:#4A4947
  }
  
  .member-image img {
    width: 120px;
    height: 120px;
    border-radius: 50%; 
    margin-right: 20px;
    border: 2px solid #B17457; 
  }
  
  .member-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    font-size: 12px;
  }
  
  .remove-account-button{
    margin-top: 10px;
    font-size: 12px;
    background-color: #ff0000;
    color: #FAF7F0;
    border-radius: 20px;
    padding-left: 2px;
    padding-right: 2px;
    width: 60px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .position-selector{
    display: flex;
    flex-direction: row;
  }
  
  .remove-account-button:hover{
    background-color: #ff6600
  }
  
  .select{
    width: 130px; 
    height: 20px; 
    font-size: 11px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    background-color: #fff; 
    cursor: pointer; 
    transition: border-color 0.3s ease; 
  }

  .no-members-container {
    text-align: center; /* Center the text horizontally */
    margin-top: 20px; /* Add some spacing */
  }
  
  .no-members-message {
    font-size: 30px;
    color: black
  }
  