.total-container{
    width: 90vh;
}

.myInfo-container {
    font-family: Arial, sans-serif;
    padding: 0 20px 20px 20px; 
    max-width: 900px;
    margin: 0 auto;
}

.myinfo-heading {
    width: 90vw;
    padding-top: 3vh;
  }
  
  .myinfo-heading hr {
    border: 0;
    height: 7px;
    background-color: #b17457;
    width: 90vw;
    margin: 20px auto;
  }

/* Profile Section */
.info-block {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 30px;
    border: 3px solid #B17457;
}

.profile-section .change-button {
    max-width: 150px;
    cursor: pointer;
    transition: background-color 0.4s ease;
    min-width: 130px;
    background-color: #B17457;
    color: #FAF7F0;
    width: 15vw;
    min-width: 150x;
    border-radius: 20px;
    padding: 5px;
}

.profile-section .change-button:hover {
    background-color: #C97D62
}

.info-card .change-button{
    max-width: 150px;
    cursor: pointer;
    transition: background-color 0.4s ease;
    min-width: 100px;
    background-color: #B17457;
    color: #FAF7F0;
    width: 15vw;
    min-width: 80px;
    border-radius: 20px;
    padding: 5px;
}

.info-card .change-button:hover{
    background-color: #C97D62
}

/* Info Grid Section */
.info-grid {
    display: grid;
  grid-template-columns: repeat(3, 1fr); /* Default: Three columns */
  gap: 20px; /* Spacing between cards */
}

.info-card {
    background: #D8D2C2;
    padding: 20px;
    border: 2px solid #B17457;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.info-label {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.info-value {
    font-size: 16px;
    color: #555;
    margin-bottom: 15px;
    text-align: center;
}



/* Responsive Design for 800px and below */
@media (max-width: 800px) {
    .info-grid {
    grid-template-columns: repeat(2, 1fr); /* Two columns for screens 800px or less */
    }
}

@media (max-width: 480px) {
    .info-grid {
    grid-template-columns: 1fr; /* Single column for small screens */
    }
}
